flow.json
[{"id":"da7d3608.233f08","type":"tab","label":"corona comparison hubei","disabled":false,"info":"# Description\n\nThis node-red flow is creating a dashboard showing the historical statistics of the corona deaths and corona confirmed cases for the selected country or province/state.\n\nThe statistics are retrieved from https://github.com/CSSEGISandData/COVID-19\n\nIt also puts in the same charts the statistics for the province Hubei (China) were the outbreak began.  To make comparison easy I have scaled and shifted the chart for Hubei.\n\nThe time shift (`\"hubei date shift\"`) is determined by the `\"lock down date\"` that you can specify.  So the Hubei charts will be shifted so that the lock down date of Hubei (= 23rd of January 2020) falls together with the `\"lock down date\"` you have specified.\n\nThe `\"hubei factor\"` is the factor used to scale the Hubei deaths and Hubei confirmed cases in the charts.  The `\"hubei factor\"` is calculated as the ratio of the current total number of deaths for the selected country or province over the total number of deaths in Hubei at corresponding date relative to the start of lock down. \n\n# Usage\nAt startup this flow will read the statistics from a local file `covid.json`.  The very first time this local file will not exist and an error message is reported in the dashboard (this is normal).\nSo in that case you must retrieve the data from Github by clicking on the button `retrieve data from github`.\nNote that this takes several minutes.  You will even loose your browser connection.  This is expected.  Just be patient and you will be automatically reconnected.  If everything is fine then this data is also stored in the local file.\n\nFYI it is not the retrieving that takes a lot of time but converting the data to proper json structure that is time consuming.\n\nOnce the data is retrieved, you can select the `country`, `province/state` and `lock down date` and the charts will automatically be updated.\n\nYou can always refresh the data with the latest available data from github by clicking on the button (but as said this takes several minutes).\n\n\n\n\n\n"},{"id":"a31f3c67.3e6a2","type":"ui_group","z":"","name":"charts","tab":"dfd19edc.c94e2","order":3,"disp":false,"width":"22","collapse":false},{"id":"935635d4.d4b018","type":"ui_group","z":"","name":"Location","tab":"dfd19edc.c94e2","order":1,"disp":false,"width":"12","collapse":false},{"id":"22d37c26.1207a4","type":"ui_group","z":"","name":"buttons","tab":"dfd19edc.c94e2","order":2,"disp":false,"width":"10","collapse":false},{"id":"dfd19edc.c94e2","type":"ui_tab","z":"","name":"corona-evolution","icon":"dashboard","disabled":false,"hidden":false},{"id":"ebbf9e2d.8e452","type":"inject","z":"da7d3608.233f08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"0.2","x":100,"y":20,"wires":[["90a4cc34.50154"]]},{"id":"ec5b1bb0.7da778","type":"exec","z":"da7d3608.233f08","command":"curl -L https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"get time_series covid confirmed","x":250,"y":220,"wires":[["897eb31d.aaebe","3f2e70af.58e2f"],[],[]]},{"id":"897eb31d.aaebe","type":"debug","z":"da7d3608.233f08","name":"get time_series covid confirmed","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":200,"wires":[]},{"id":"e11cff08.91ad2","type":"csv","z":"da7d3608.233f08","name":"csv2array","sep":",","hdrin":true,"hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"x":560,"y":280,"wires":[["a70f5101.b3484","835e4940.3bd308","593ca514.902dcc"]]},{"id":"3f2e70af.58e2f","type":"switch","z":"da7d3608.233f08","name":"return code ok ?","property":"rc.code","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":580,"y":240,"wires":[["e11cff08.91ad2","32b650ff.aaf6a"]]},{"id":"555def17.88c15","type":"debug","z":"da7d3608.233f08","name":"hubei and selected country confirmed cases","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":1240,"wires":[]},{"id":"c3eef553.76d088","type":"ui_chart","z":"da7d3608.233f08","name":"","group":"a31f3c67.3e6a2","order":3,"width":11,"height":7,"label":"total confirmed cases","chartType":"line","legend":"true","xformat":"D/M","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ff2600","#0433ff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":920,"y":1380,"wires":[["d5a617cb.df3688"]]},{"id":"f39294ca.4ff928","type":"change","z":"da7d3608.233f08","name":"prepare confirmed cases chart","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t $country := selected_country;\t $province_state := selected_province_state;\t $dates := covid.dates;\t $hubei_timeshift_ms := hubei_timeshift_ms;\t $hubei_factor := hubei_death_factor;\t /* graph starts from (lock_down_date - 1 week) */\t $start_x := $toMillis(lock_down_date,\"[M]/[D]/[Y]\")-(7*24*60*60*1000);\t [{ \t \"series\": [ $country & '(' & $province_state & ')','China (Hubei) - shifted and scaled'],\t \"data\" : [ \t    [$map(covid.locations[country_region= $country and (  ($province_state = \"\" and is_country = true) or (province_state = $province_state ))]\t           .total_confirmed_cases,\t      function($v, $i, $a) { { \"x\": $toMillis($dates[$i],\"[M]/[D]/[Y]\"), \"y\": $v}} )[x >= $start_x]]\t      ,\t    [$map(covid.locations[country_region= \"China\" and province_state = \"Hubei\"]\t           .total_confirmed_cases,\t      function($v, $i, $a) { { \"x\": $toMillis($dates[$i],\"[M]/[D]/[Y]\")+$hubei_timeshift_ms, \"y\": $v*$hubei_factor}} )[x >= $start_x]]\t    ],\t \"labels\": [\"\"]\t }]\t)\t/*\t[{\t\"series\": [\"A\", \"B\", \"C\"],\t\"data\": [\t    [{ \"x\": 1504029632890, \"y\": 5 },\t     { \"x\": 1504029636001, \"y\": 4 },\t     { \"x\": 1504029638656, \"y\": 2 }\t    ],\t    [{ \"x\": 1504029633514, \"y\": 6 },\t     { \"x\": 1504029636622, \"y\": 7 },\t     { \"x\": 1504029639539, \"y\": 6 }\t    ],\t    [{ \"x\": 1504029634400, \"y\": 7 },\t     { \"x\": 1504029637959, \"y\": 7 },\t     { \"x\": 1504029640317, \"y\": 7 }\t    ]\t],\t\"labels\": [\"\"]\t}]\t\texample input message\t{\t    \"hubei_death_factor\": 0.5,\t    \"hubei_timeshift_ms\" : 4233600000,\t    \"selected_country\": \"Belgium\",\t    \"selected_province_state\" : \"\", \t    \"lock_down_date\" :  \"1/24/2020\",\t    \"covid\": {\t        \"current_date\": \"2/1/2020\",\t        \"dates\": [\t            \"1/22/2020\",\t            \"1/23/2020\",\t            \"1/24/2020\",\t            \"1/30/2020\",\t            \"1/31/2020\",\t            \"2/1/2020\"\t        ],\t        \"date2index\": {\t            \"1/22/2020\": 0,\t            \"1/23/2020\": 1,\t            \"1/24/2020\": 2,\t            \"1/31/2020\": 3,\t            \"2/1/2020\": 4\t        },\t        \"locations\": [\t            {\t                \"is_country\": false,\t                \"country_region\": \"China\",\t                \"province_state\": \"Hubei\",\t                \"latitude\": 15,\t                \"longitude\": 101,\t                \"dates\": [\t                    \"1/22/2020\",\t                    \"1/23/2020\",\t                    \"1/30/2020\",\t                    \"1/31/2020\",\t                    \"2/1/2020\"\t                ],\t                \"total_deaths\": [\t                    0,\t                    0,\t                    3,\t                    1,\t                    1,\t                    1\t                ],\t                \"total_confirmed_cases\": [\t                    2,\t                    3,\t                    75,\t                    82,\t                    114\t                ],\t                \"current_total_deaths\": 1,\t                \"current_total_confirmed_cases\": 114,\t                \"new_deaths\": [\t                    0,\t                    0,\t                    0,\t                    1,\t                    0,\t                    0\t                ],\t                \"new_confirmed_cases\": [\t                    2,\t                    1,\t                    72,\t                    7,\t                    32\t                ]\t            },\t            {\t                \"is_country\": true,\t                \"country_region\": \"Belgium\",\t                \"latitude\": 36,\t                \"longitude\": 138,\t                \"dates\": [\t                    \"1/22/2020\",\t                    \"1/23/2020\",\t                    \"1/24/2020\",\t                    \"1/25/2020\",\t                    \"3/12/2020\",\t                    \"3/13/2020\",\t                    \"3/14/2020\",\t                    \"3/15/2020\"\t                ],\t                \"total_deaths\": [\t                    0,\t                    0,\t                    16,\t                    19,\t                    22,\t                    22\t                ],\t                \"total_confirmed_cases\": [\t                    2,\t                    1,\t                    2,\t                    701,\t                    773,\t                    839\t                ],\t                \"current_total_deaths\": 22,\t                \"current_total_confirmed_cases\": 839,\t                \"new_deaths\": [\t                    0,\t                    0,\t                    0,\t                    0,\t                    15,\t                    1,\t                    3,\t                    3,\t                    0\t                ],\t                \"new_confirmed_cases\": [\t                    2,\t                    -1,\t                    1,\t                    699,\t                    72,\t                    66\t                ]\t            }\t        ]\t    }\t}\t*/","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":1380,"wires":[["c3eef553.76d088","4907ad01.9cf104"]]},{"id":"d5a617cb.df3688","type":"debug","z":"da7d3608.233f08","name":"chart output","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1150,"y":1380,"wires":[]},{"id":"4c4cf2d5.a478fc","type":"ui_dropdown","z":"da7d3608.233f08","name":"select country","label":"country","tooltip":"","place":"Select option","group":"935635d4.d4b018","order":1,"width":5,"height":1,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":960,"y":920,"wires":[["4b7d4b8a.c2b754"]]},{"id":"3d46854a.1b12da","type":"change","z":"da7d3608.233f08","name":"msg.options = country list (default = Belgium)","rules":[{"t":"set","p":"options","pt":"msg","to":"covid.locations.country_region ~> $distinct ~> $sort\t/*\t{\t    \"covid\": {\t        \"dates\": [\t            \"1/22/2020\",\t            \"1/23/2020\",\t            \"1/30/2020\",\t            \"1/31/2020\",\t            \"2/1/2020\"\t        ],\t        \"current_date\": \"2/1/2020\",\t        \"locations\": [\t            {\t                \"is_country\": false,\t                \"country_region\": \"Thailand\",\t                \"province_state\": \"this is a state of thailand\",\t                \"latitude\": 15,\t                \"longitude\": 101,\t                \"dates\": [\t                    \"1/22/2020\",\t                    \"1/23/2020\",\t                    \"1/30/2020\",\t                    \"1/31/2020\",\t                    \"2/1/2020\"\t                ],\t                \"total_deaths\": [\t                    0,\t                    0,\t                    0,\t                    1,\t                    1,\t                    1\t                ],\t                \"total_confirmed_cases\": [\t                    2,\t                    3,\t                    75,\t                    82,\t                    114\t                ],\t                \"current_total_deaths\": 1,\t                \"current_total_confirmed_cases\": 114,\t                \"new_deaths\": [\t                    0,\t                    0,\t                    0,\t                    1,\t                    0,\t                    0\t                ],\t                \"new_confirmed_cases\": [\t                    2,\t                    1,\t                    72,\t                    7,\t                    32\t                ]\t            },\t            {\t                \"is_country\": true,\t                \"country_region\": \"Japan\",\t                \"latitude\": 36,\t                \"longitude\": 138,\t                \"dates\": [\t                    \"1/22/2020\",\t                    \"1/23/2020\",\t                    \"1/24/2020\",\t                    \"1/25/2020\",\t                    \"3/12/2020\",\t                    \"3/13/2020\",\t                    \"3/14/2020\",\t                    \"3/15/2020\"\t                ],\t                \"total_deaths\": [\t                    0,\t                    0,\t                    0,\t                    0,\t                    15,\t                    16,\t                    19,\t                    22,\t                    22\t                ],\t                \"total_confirmed_cases\": [\t                    2,\t                    1,\t                    2,\t                    701,\t                    773,\t                    839\t                ],\t                \"current_total_deaths\": 22,\t                \"current_total_confirmed_cases\": 839,\t                \"new_deaths\": [\t                    0,\t                    0,\t                    0,\t                    0,\t                    15,\t                    1,\t                    3,\t                    3,\t                    0\t                ],\t                \"new_confirmed_cases\": [\t                    2,\t                    -1,\t                    1,\t                    699,\t                    72,\t                    66\t                ]\t            }\t        ]\t    }\t}\t*/","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"Belgium","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":920,"wires":[["4c4cf2d5.a478fc","3c40c5b2.e3afca"]]},{"id":"70989403.b51d8c","type":"debug","z":"da7d3608.233f08","name":"flow.selected_country","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1220,"y":880,"wires":[]},{"id":"2b1efcce.5677e4","type":"change","z":"da7d3608.233f08","name":"calculage hubei_date_shift and hubei_factors","rules":[{"t":"set","p":"hubei_timeshift_ms","pt":"msg","to":"/* 1/23/2020 or \"23th of January 2020\" is the date Hubei went in lock down. */\t$toMillis(lock_down_date,'[M]/[D]/[Y]')-$toMillis('1/23/2020','[M]/[D]/[Y]')","tot":"jsonata"},{"t":"set","p":"hubei_current_date_shifted","pt":"msg","to":"/* 1/23/2020 or \"23th of January 2020\" is the date Hubei went in lock down. */\t$fromMillis($toMillis(covid.current_date,'[M]/[D]/[Y]')-hubei_timeshift_ms,'[M]/[D]/[Y]')","tot":"jsonata"},{"t":"set","p":"hubei_confirmed_cases_factor","pt":"msg","to":"/* calculates the fraction of death for the selected country at last date\t   compared to the deaths Hubei (China) at its lock down date = 23rd of January 2020 + (last date - country lock down date)*/\t(\t   $country        := selected_country; \t   $province_state := selected_province_state;\t   $hubei_current_date_shifted := hubei_current_date_shifted;\t   $current_total_confirmed_cases_selected_country :=covid.locations[country_region = $country and (( $province_state = \"\" and is_country = true) or (province_state = $province_state))]\t                                                .current_total_confirmed_cases;\t   $hubei_current_date_shifted_index := $lookup(covid.date2index,$hubei_current_date_shifted);\t   $total_confirmed_cases_hubei_date_shifted := covid.locations[country_region = \"China\" and province_state = \"Hubei\" ]\t                                            .total_confirmed_cases[$hubei_current_date_shifted_index];\t   $current_total_confirmed_cases_selected_country/$total_confirmed_cases_hubei_date_shifted\t)\t/*\t  example input\t  \t{\t    \"selected_country\": \"Belgium\",\t    \"lock_down_date\": \"1/31/2020\",\t    \"hubei_current_date_shifted\": \"1/24/2020\",\t    \"covid\": {\t        \"current_date\": \"2/1/2020\",\t        \"dates\": [\t            \"1/22/2020\",\t            \"1/23/2020\",\t            \"1/24/2020\",\t            \"1/30/2020\",\t            \"1/31/2020\",\t            \"2/1/2020\"\t        ],\t        \"date2index\": {\t            \"1/22/2020\": 0,\t            \"1/23/2020\": 1,\t            \"1/24/2020\": 2,\t            \"1/31/2020\": 3,\t            \"2/1/2020\": 4\t        },\t        \"locations\": [\t            {\t                \"is_country\": false,\t                \"country_region\": \"China\",\t                \"province_state\": \"Hubei\",\t                \"latitude\": 15,\t                \"longitude\": 101,\t                \"dates\": [\t                    \"1/22/2020\",\t                    \"1/23/2020\",\t                    \"1/30/2020\",\t                    \"1/31/2020\",\t                    \"2/1/2020\"\t                ],\t                \"total_deaths\": [\t                    0,\t                    0,\t                    3,\t                    1,\t                    1,\t                    1\t                ],\t                \"total_confirmed_cases\": [\t                    2,\t                    3,\t                    75,\t                    82,\t                    114\t                ],\t                \"current_total_deaths\": 1,\t                \"current_total_confirmed_cases\": 114,\t                \"new_deaths\": [\t                    0,\t                    0,\t                    0,\t                    1,\t                    0,\t                    0\t                ],\t                \"new_confirmed_cases\": [\t                    2,\t                    1,\t                    72,\t                    7,\t                    32\t                ]\t            },\t            {\t                \"is_country\": true,\t                \"country_region\": \"Belgium\",\t                \"latitude\": 36,\t                \"longitude\": 138,\t                \"dates\": [\t                    \"1/22/2020\",\t                    \"1/23/2020\",\t                    \"1/24/2020\",\t                    \"1/25/2020\",\t                    \"3/12/2020\",\t                    \"3/13/2020\",\t                    \"3/14/2020\",\t                    \"3/15/2020\"\t                ],\t                \"total_deaths\": [\t                    0,\t                    0,\t                    0,\t                    0,\t                    15,\t                    16,\t                    19,\t                    22,\t                    22\t                ],\t                \"total_confirmed_cases\": [\t                    2,\t                    1,\t                    2,\t                    701,\t                    773,\t                    839\t                ],\t                \"current_total_deaths\": 22,\t                \"current_total_confirmed_cases\": 839,\t                \"new_deaths\": [\t                    0,\t                    0,\t                    0,\t                    0,\t                    15,\t                    1,\t                    3,\t                    3,\t                    0\t                ],\t                \"new_confirmed_cases\": [\t                    2,\t                    -1,\t                    1,\t                    699,\t                    72,\t                    66\t                ]\t            }\t        ]\t    }\t}\t*/","tot":"jsonata"},{"t":"set","p":"hubei_death_factor","pt":"msg","to":"/* calculates the fraction of death for the selected country at last date\t   compared to the deaths Hubei (China) at its lock down date = 23rd of January 2020 + (last date - country lock down date)*/\t(\t   $country        := selected_country; \t   $province_state := selected_province_state;\t   $hubei_current_date_shifted := hubei_current_date_shifted;\t   $current_total_death_selected_country :=covid.locations[country_region = $country and (( $province_state = \"\" and is_country = true) or (province_state = $province_state))]\t                                                .current_total_deaths;\t   $hubei_current_date_shifted_index := $lookup(covid.date2index,$hubei_current_date_shifted);\t   $total_death_hubei_date_shifted := covid.locations[country_region = \"China\" and province_state = \"Hubei\" ]\t                                            .total_deaths[$hubei_current_date_shifted_index];\t   $current_total_death_selected_country/$total_death_hubei_date_shifted\t)\t/*\t  example input\t  \t{\t    \"selected_country\": \"Belgium\",\t    \"lock_down_date\": \"1/31/2020\",\t    \"hubei_current_date_shifted\": \"1/24/2020\",\t    \"covid\": {\t        \"current_date\": \"2/1/2020\",\t        \"dates\": [\t            \"1/22/2020\",\t            \"1/23/2020\",\t            \"1/24/2020\",\t            \"1/30/2020\",\t            \"1/31/2020\",\t            \"2/1/2020\"\t        ],\t        \"date2index\": {\t            \"1/22/2020\": 0,\t            \"1/23/2020\": 1,\t            \"1/24/2020\": 2,\t            \"1/31/2020\": 3,\t            \"2/1/2020\": 4\t        },\t        \"locations\": [\t            {\t                \"is_country\": false,\t                \"country_region\": \"China\",\t                \"province_state\": \"Hubei\",\t                \"latitude\": 15,\t                \"longitude\": 101,\t                \"dates\": [\t                    \"1/22/2020\",\t                    \"1/23/2020\",\t                    \"1/30/2020\",\t                    \"1/31/2020\",\t                    \"2/1/2020\"\t                ],\t                \"total_deaths\": [\t                    0,\t                    0,\t                    3,\t                    1,\t                    1,\t                    1\t                ],\t                \"total_confirmed_cases\": [\t                    2,\t                    3,\t                    75,\t                    82,\t                    114\t                ],\t                \"current_total_deaths\": 1,\t                \"current_total_confirmed_cases\": 114,\t                \"new_deaths\": [\t                    0,\t                    0,\t                    0,\t                    1,\t                    0,\t                    0\t                ],\t                \"new_confirmed_cases\": [\t                    2,\t                    1,\t                    72,\t                    7,\t                    32\t                ]\t            },\t            {\t                \"is_country\": true,\t                \"country_region\": \"Belgium\",\t                \"latitude\": 36,\t                \"longitude\": 138,\t                \"dates\": [\t                    \"1/22/2020\",\t                    \"1/23/2020\",\t                    \"1/24/2020\",\t                    \"1/25/2020\",\t                    \"3/12/2020\",\t                    \"3/13/2020\",\t                    \"3/14/2020\",\t                    \"3/15/2020\"\t                ],\t                \"total_deaths\": [\t                    0,\t                    0,\t                    0,\t                    0,\t                    15,\t                    16,\t                    19,\t                    22,\t                    22\t                ],\t                \"total_confirmed_cases\": [\t                    2,\t                    1,\t                    2,\t                    701,\t                    773,\t                    839\t                ],\t                \"current_total_deaths\": 22,\t                \"current_total_confirmed_cases\": 839,\t                \"new_deaths\": [\t                    0,\t                    0,\t                    0,\t                    0,\t                    15,\t                    1,\t                    3,\t                    3,\t                    0\t                ],\t                \"new_confirmed_cases\": [\t                    2,\t                    -1,\t                    1,\t                    699,\t                    72,\t                    66\t                ]\t            }\t        ]\t    }\t}\t*/","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1240,"wires":[["555def17.88c15","f39294ca.4ff928","4ebbe35e.4b7b2c","195c38e4.b877d7"]]},{"id":"ccc00b2e.bfdc48","type":"change","z":"da7d3608.233f08","name":"copy flow => msg","rules":[{"t":"set","p":"covid","pt":"msg","to":"covid","tot":"flow"},{"t":"set","p":"selected_country","pt":"msg","to":"selected_country","tot":"flow"},{"t":"set","p":"selected_province_state","pt":"msg","to":"selected_province_state","tot":"flow"},{"t":"set","p":"lock_down_date","pt":"msg","to":"lock_down_date","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1610,"y":1000,"wires":[["2b1efcce.5677e4","bed0fd9.5b2ab"]]},{"id":"bed0fd9.5b2ab","type":"debug","z":"da7d3608.233f08","name":"copied flow to msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1610,"y":960,"wires":[]},{"id":"38ff5c00.6b79d4","type":"ui_dropdown","z":"da7d3608.233f08","name":"select lock down date","label":"lock down date","tooltip":"Date drastic measures are taken to reduce spread of virus","place":"Select option","group":"935635d4.d4b018","order":3,"width":12,"height":1,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":980,"y":1160,"wires":[["82cb217a.94e9b"]]},{"id":"fac7b993.b120a8","type":"change","z":"da7d3608.233f08","name":"msg.options = date list","rules":[{"t":"set","p":"options","pt":"msg","to":"covid.dates\t/*\tinput example:\t\t{\t    \"covid\": {\t        \"dates\": [\t            \"1/22/2020\",\t            \"1/23/2020\",\t            \"1/30/2020\",\t            \"1/31/2020\",\t            \"2/1/2020\"\t        ],\t        \"current_date\": \"2/1/2020\",\t        \"locations\": [\t            {\t                \"is_country\": false,\t                \"country_region\": \"Thailand\",\t                \"province_state\": \"this is a state of thailand\",\t                \"latitude\": 15,\t                \"longitude\": 101,\t                \"dates\": [\t                    \"1/22/2020\",\t                    \"1/23/2020\",\t                    \"1/30/2020\",\t                    \"1/31/2020\",\t                    \"2/1/2020\"\t                ],\t                \"total_deaths\": [\t                    0,\t                    0,\t                    0,\t                    1,\t                    1,\t                    1\t                ],\t                \"total_confirmed_cases\": [\t                    2,\t                    3,\t                    75,\t                    82,\t                    114\t                ],\t                \"current_total_deaths\": 1,\t                \"current_total_confirmed_cases\": 114,\t                \"new_deaths\": [\t                    0,\t                    0,\t                    0,\t                    1,\t                    0,\t                    0\t                ],\t                \"new_confirmed_cases\": [\t                    2,\t                    1,\t                    72,\t                    7,\t                    32\t                ]\t            },\t            {\t                \"is_country\": true,\t                \"country_region\": \"Japan\",\t                \"latitude\": 36,\t                \"longitude\": 138,\t                \"dates\": [\t                    \"1/22/2020\",\t                    \"1/23/2020\",\t                    \"1/24/2020\",\t                    \"1/25/2020\",\t                    \"3/12/2020\",\t                    \"3/13/2020\",\t                    \"3/14/2020\",\t                    \"3/15/2020\"\t                ],\t                \"total_deaths\": [\t                    0,\t                    0,\t                    0,\t                    0,\t                    15,\t                    16,\t                    19,\t                    22,\t                    22\t                ],\t                \"total_confirmed_cases\": [\t                    2,\t                    1,\t                    2,\t                    701,\t                    773,\t                    839\t                ],\t                \"current_total_deaths\": 22,\t                \"current_total_confirmed_cases\": 839,\t                \"new_deaths\": [\t                    0,\t                    0,\t                    0,\t                    0,\t                    15,\t                    1,\t                    3,\t                    3,\t                    0\t                ],\t                \"new_confirmed_cases\": [\t                    2,\t                    -1,\t                    1,\t                    699,\t                    72,\t                    66\t                ]\t            }\t        ]\t    }\t}\t*/","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"3/12/2020","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1160,"wires":[["38ff5c00.6b79d4"]]},{"id":"74bdaf6d.959a9","type":"debug","z":"da7d3608.233f08","name":"flow.lock_down_date","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1220,"y":1180,"wires":[]},{"id":"4b7d4b8a.c2b754","type":"change","z":"da7d3608.233f08","name":"","rules":[{"t":"set","p":"selected_country","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":920,"wires":[["70989403.b51d8c","d1b6a9c1.a23b18","ccc00b2e.bfdc48"]]},{"id":"82cb217a.94e9b","type":"change","z":"da7d3608.233f08","name":"","rules":[{"t":"set","p":"lock_down_date","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":1140,"wires":[["74bdaf6d.959a9","ccc00b2e.bfdc48"]]},{"id":"b3c468f5.310988","type":"ui_dropdown","z":"da7d3608.233f08","name":"select province/state","label":"province/state","tooltip":"","place":"Select option","group":"935635d4.d4b018","order":2,"width":7,"height":1,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":960,"y":1060,"wires":[["ffbd353b.9fccc8"]]},{"id":"d1b6a9c1.a23b18","type":"change","z":"da7d3608.233f08","name":"msg.options =  province/state list for selected country","rules":[{"t":"set","p":"selected_country","pt":"msg","to":"selected_country","tot":"flow"},{"t":"set","p":"covid","pt":"msg","to":"covid","tot":"flow"},{"t":"set","p":"options","pt":"msg","to":"(\t   $country := selected_country;\t   $locations_list := covid.locations[country_region= $country ].province_state ~> $distinct ~> $sort ;\t   ( $exists($locations_list) ? $locations_list : [] )\t)\t/*\tinput example:\t\t{\t    \"selected_country\" : \"Thailand\",\t    \"covid\": {\t        \"dates\": [\t            \"1/22/2020\",\t            \"1/23/2020\",\t            \"1/30/2020\",\t            \"1/31/2020\",\t            \"2/1/2020\"\t        ],\t        \"current_date\": \"2/1/2020\",\t        \"locations\": [\t            {\t                \"is_country\": false,\t                \"country_region\": \"Thailand\",\t                \"province_state\": \"this is a state of thailand\",\t                \"latitude\": 15,\t                \"longitude\": 101,\t                \"dates\": [\t                    \"1/22/2020\",\t                    \"1/23/2020\",\t                    \"1/30/2020\",\t                    \"1/31/2020\",\t                    \"2/1/2020\"\t                ],\t                \"total_deaths\": [\t                    0,\t                    0,\t                    0,\t                    1,\t                    1,\t                    1\t                ],\t                \"total_confirmed_cases\": [\t                    2,\t                    3,\t                    75,\t                    82,\t                    114\t                ],\t                \"current_total_deaths\": 1,\t                \"current_total_confirmed_cases\": 114,\t                \"new_deaths\": [\t                    0,\t                    0,\t                    0,\t                    1,\t                    0,\t                    0\t                ],\t                \"new_confirmed_cases\": [\t                    2,\t                    1,\t                    72,\t                    7,\t                    32\t                ]\t            },\t            {\t                \"is_country\": true,\t                \"country_region\": \"Japan\",\t                \"latitude\": 36,\t                \"longitude\": 138,\t                \"dates\": [\t                    \"1/22/2020\",\t                    \"1/23/2020\",\t                    \"1/24/2020\",\t                    \"1/25/2020\",\t                    \"3/12/2020\",\t                    \"3/13/2020\",\t                    \"3/14/2020\",\t                    \"3/15/2020\"\t                ],\t                \"total_deaths\": [\t                    0,\t                    0,\t                    0,\t                    0,\t                    15,\t                    16,\t                    19,\t                    22,\t                    22\t                ],\t                \"total_confirmed_cases\": [\t                    2,\t                    1,\t                    2,\t                    701,\t                    773,\t                    839\t                ],\t                \"current_total_deaths\": 22,\t                \"current_total_confirmed_cases\": 839,\t                \"new_deaths\": [\t                    0,\t                    0,\t                    0,\t                    0,\t                    15,\t                    1,\t                    3,\t                    3,\t                    0\t                ],\t                \"new_confirmed_cases\": [\t                    2,\t                    -1,\t                    1,\t                    699,\t                    72,\t                    66\t                ]\t            }\t        ]\t    }\t}\t*/","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1060,"wires":[["b3c468f5.310988","94379557.3bcde8"]]},{"id":"ffbd353b.9fccc8","type":"change","z":"da7d3608.233f08","name":"","rules":[{"t":"set","p":"selected_province_state","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":1060,"wires":[["76e9e0b2.4ded","ccc00b2e.bfdc48"]]},{"id":"76e9e0b2.4ded","type":"debug","z":"da7d3608.233f08","name":"flow.selected_province_state","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1200,"y":1020,"wires":[]},{"id":"90a4cc34.50154","type":"exec","z":"da7d3608.233f08","command":"curl -L https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Deaths.csv","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"get time_series covid deaths","x":240,"y":80,"wires":[["ced45051.634b5","a7d0f1f3.98b44"],[],[]]},{"id":"ced45051.634b5","type":"debug","z":"da7d3608.233f08","name":"get time_series covid deaths","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1000,"y":60,"wires":[]},{"id":"a7d0f1f3.98b44","type":"switch","z":"da7d3608.233f08","name":"return code ok ?","property":"rc.code","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":580,"y":80,"wires":[["3a334c0f.26db44","13b09d87.5a3312"]]},{"id":"6ea5c40f.d3fc3c","type":"ui_chart","z":"da7d3608.233f08","name":"","group":"a31f3c67.3e6a2","order":4,"width":11,"height":7,"label":"total deaths","chartType":"line","legend":"true","xformat":"D/M","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ff2600","#0433ff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":890,"y":1420,"wires":[[]]},{"id":"4907ad01.9cf104","type":"change","z":"da7d3608.233f08","name":"prepare deaths chart","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t $country := selected_country;\t $province_state := selected_province_state;\t $dates := covid.dates;\t $hubei_timeshift_ms := hubei_timeshift_ms;\t $hubei_factor := hubei_death_factor;\t  /* graph starts from (lock_down_date - 1 week) */\t $start_x := $toMillis(lock_down_date,\"[M]/[D]/[Y]\")-(7*24*60*60*1000);\t [{ \t \"series\": [ $country & '(' & $province_state & ')','China (Hubei) - shifted and scaled'],\t \"data\" : [ \t    [$map(covid.locations[country_region= $country and (  ($province_state = \"\" and is_country = true) or (province_state = $province_state ))]\t           .total_deaths,\t      function($v, $i, $a) { { \"x\": $toMillis($dates[$i],\"[M]/[D]/[Y]\"), \"y\": $v}} )[x >= $start_x]]\t      ,\t    [$map(covid.locations[country_region= \"China\" and province_state = \"Hubei\"]\t           .total_deaths,\t      function($v, $i, $a) { { \"x\": $toMillis($dates[$i],\"[M]/[D]/[Y]\")+$hubei_timeshift_ms, \"y\": $v*$hubei_factor}} )[x >= $start_x]]\t    ],\t \"labels\": [\"\"]\t }]\t)\t/*\t[{\t\"series\": [\"A\", \"B\", \"C\"],\t\"data\": [\t    [{ \"x\": 1504029632890, \"y\": 5 },\t     { \"x\": 1504029636001, \"y\": 4 },\t     { \"x\": 1504029638656, \"y\": 2 }\t    ],\t    [{ \"x\": 1504029633514, \"y\": 6 },\t     { \"x\": 1504029636622, \"y\": 7 },\t     { \"x\": 1504029639539, \"y\": 6 }\t    ],\t    [{ \"x\": 1504029634400, \"y\": 7 },\t     { \"x\": 1504029637959, \"y\": 7 },\t     { \"x\": 1504029640317, \"y\": 7 }\t    ]\t],\t\"labels\": [\"\"]\t}]\t\texample input message\t{\t    \"hubei_death_factor\": 0.5,\t    \"hubei_timeshift_ms\" : 4233600000,\t    \"selected_country\": \"Belgium\",\t    \"selected_province_state\" : \"\", \t    \"lock_down_date\" :  \"1/24/2020\",\t    \"covid\": {\t        \"current_date\": \"2/1/2020\",\t        \"dates\": [\t            \"1/22/2020\",\t            \"1/23/2020\",\t            \"1/24/2020\",\t            \"1/30/2020\",\t            \"1/31/2020\",\t            \"2/1/2020\"\t        ],\t        \"date2index\": {\t            \"1/22/2020\": 0,\t            \"1/23/2020\": 1,\t            \"1/24/2020\": 2,\t            \"1/31/2020\": 3,\t            \"2/1/2020\": 4\t        },\t        \"locations\": [\t            {\t                \"is_country\": false,\t                \"country_region\": \"China\",\t                \"province_state\": \"Hubei\",\t                \"latitude\": 15,\t                \"longitude\": 101,\t                \"dates\": [\t                    \"1/22/2020\",\t                    \"1/23/2020\",\t                    \"1/30/2020\",\t                    \"1/31/2020\",\t                    \"2/1/2020\"\t                ],\t                \"total_deaths\": [\t                    0,\t                    0,\t                    3,\t                    1,\t                    1,\t                    1\t                ],\t                \"total_confirmed_cases\": [\t                    2,\t                    3,\t                    75,\t                    82,\t                    114\t                ],\t                \"current_total_deaths\": 1,\t                \"current_total_confirmed_cases\": 114,\t                \"new_deaths\": [\t                    0,\t                    0,\t                    0,\t                    1,\t                    0,\t                    0\t                ],\t                \"new_confirmed_cases\": [\t                    2,\t                    1,\t                    72,\t                    7,\t                    32\t                ]\t            },\t            {\t                \"is_country\": true,\t                \"country_region\": \"Belgium\",\t                \"latitude\": 36,\t                \"longitude\": 138,\t                \"dates\": [\t                    \"1/22/2020\",\t                    \"1/23/2020\",\t                    \"1/24/2020\",\t                    \"1/25/2020\",\t                    \"3/12/2020\",\t                    \"3/13/2020\",\t                    \"3/14/2020\",\t                    \"3/15/2020\"\t                ],\t                \"total_deaths\": [\t                    0,\t                    0,\t                    16,\t                    19,\t                    22,\t                    22\t                ],\t                \"total_confirmed_cases\": [\t                    2,\t                    1,\t                    2,\t                    701,\t                    773,\t                    839\t                ],\t                \"current_total_deaths\": 22,\t                \"current_total_confirmed_cases\": 839,\t                \"new_deaths\": [\t                    0,\t                    0,\t                    0,\t                    0,\t                    15,\t                    1,\t                    3,\t                    3,\t                    0\t                ],\t                \"new_confirmed_cases\": [\t                    2,\t                    -1,\t                    1,\t                    699,\t                    72,\t                    66\t                ]\t            }\t        ]\t    }\t}\t*/","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":1420,"wires":[["6ea5c40f.d3fc3c","f813b77f.68ddb8"]]},{"id":"a70f5101.b3484","type":"debug","z":"da7d3608.233f08","name":"confirmed2array","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":960,"y":280,"wires":[]},{"id":"270fbd92.e75db2","type":"debug","z":"da7d3608.233f08","name":"confirmed cases","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":960,"y":320,"wires":[]},{"id":"f5a8a0eb.5a704","type":"debug","z":"da7d3608.233f08","name":"flow.covid","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"covid","targetType":"msg","x":940,"y":160,"wires":[]},{"id":"41cc9f27.9609c","type":"debug","z":"da7d3608.233f08","name":"death2array","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":950,"y":120,"wires":[]},{"id":"e94deaba.69d0b8","type":"debug","z":"da7d3608.233f08","name":"extended with current_date and dates","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"covid","targetType":"msg","x":1030,"y":440,"wires":[]},{"id":"3a334c0f.26db44","type":"csv","z":"da7d3608.233f08","name":"csv2array","sep":",","hdrin":true,"hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"x":560,"y":120,"wires":[["26b293d6.ff211c","41cc9f27.9609c","afa688eb.70fa18"]]},{"id":"26b293d6.ff211c","type":"change","z":"da7d3608.233f08","name":"set flow.covid","rules":[{"t":"set","p":"covid","pt":"flow","to":"{\t   \"locations\" : payload@$c[].{\t       \"is_country\"    : $not($exists($c.`Province/State`)),\t       \"country_region\": $c.`Country/Region`,\t       \"province_state\": $c.`Province/State`,\t       \"latitude\" : $c.`Lat`,\t       \"longitude\" : $c.`Long`,\t       \"dates\": $c.$sift(\t           function($v, $k) {$k ~> /^[0-9]/}\t       ) ~>  \t                        $each(\t           function($v, $k){\t               $substring($k, 0,$length($k)-2) & '20' & $substring($k,-2)\t           }\t       ),\t       /*\t   \"timestamps\": $c.$sift(\t           function($v, $k) {$k ~> /^[0-9]/}\t       ) ~>  \t                        $each(\t           function($v, $k){\t               $toMillis(\t                   $substring($k, 0,$length($k)-2) & '20' & $substring($k,-2),\t                   '[M]/[D]/[Y]'\t               )\t           }\t       ),\t       */\t   \"total_deaths\" : $c.$sift(\t           function($v, $k) {$k ~> /^[0-9]/}\t       ) ~>$each(function($v, $k){ $v})\t\t   }\t\t}\t/*\texample input\t{\t   \"payload\": [\t       {\t           \"Country/Region\": \"Thailand\",\t           \"Lat\": 15,\t           \"Long\": 101,\t           \"1/22/20\": 2,\t           \"1/23/20\": 3,\t           \"1/24/20\": 5,\t           \"1/25/20\": 7,\t           \"1/26/20\": 8,\t           \"1/27/20\": 8,\t           \"1/28/20\": 14,\t           \"1/29/20\": 14,\t           \"1/30/20\": 14,\t           \"1/31/20\": 19,\t           \"2/1/20\": 19,\t           \"2/2/20\": 19,\t           \"2/3/20\": 19,\t           \"2/4/20\": 25\t        \t       },\t       {\t           \"Province/State\": \"New South Wales\",\t           \"Country/Region\": \"Australia\",\t           \"Lat\": -33.8688,\t           \"Long\": 151.2093,\t           \"1/22/20\": 0,\t           \"1/23/20\": 0,\t           \"1/24/20\": 0,\t           \"1/25/20\": 0,\t           \"1/26/20\": 3,\t           \"1/27/20\": 4,\t           \"1/28/20\": 4,\t           \"1/29/20\": 4,\t           \"1/30/20\": 4,\t           \"1/31/20\": 4,\t           \"2/1/20\": 4,\t           \"2/2/20\": 4,\t           \"2/3/20\": 4,\t           \"2/4/20\": 4\t        \t       }\t    \t   ]\t\t}\t*/","tot":"jsonata"},{"t":"set","p":"covid","pt":"msg","to":"covid","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":160,"wires":[["ec5b1bb0.7da778","f5a8a0eb.5a704","e27e28bc.ee49b8"]]},{"id":"835e4940.3bd308","type":"change","z":"da7d3608.233f08","name":"set flow.confirmed_cases","rules":[{"t":"set","p":"confirmed_cases","pt":"flow","to":"payload@$c[].{\t   \"country_region\": $c.`Country/Region`,\t   \"province_state\": $c.`Province/State`,\t   \"dates\":$c.$sift(function($v, $k) {$k ~> /^[0-9]/}) ~>  \t                        $each(function($v, $k){ $substring($k, 0,$length($k)-2) & '20' & $substring($k,-2)}),\t   \"confirmed_cases\": $c.$sift(function($v, $k) {$k ~> /^[0-9]/}) ~>$each(function($v, $k){ $v})\t}","tot":"jsonata"},{"t":"set","p":"confirmed_cases","pt":"msg","to":"confirmed_cases","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":320,"wires":[["270fbd92.e75db2","71753fa9.c1f9e","449ff85e.e5d0c8"]]},{"id":"71753fa9.c1f9e","type":"change","z":"da7d3608.233f08","name":"flow.covid joined with flow.confirmed_cases","rules":[{"t":"set","p":"payload","pt":"msg","to":"deleted","tot":"str"},{"t":"set","p":"covid","pt":"flow","to":"(\t    $confirmed_cases := confirmed_cases;\t    covid ~> | locations | { \"total_confirmed_cases\" : \t              ($country_region := country_region; $province_state := province_state; $is_country := is_country;\t               $confirmed_cases[($country_region=$.country_region) and (($is_country=true) or ($province_state=$.province_state))])\t                .confirmed_cases}|\t)\t/*\t  example input\t  {\t  \"_msgid\": \"a070e32c.e71ed\",\t  \"topic\": \"\",\t  \"rc\": {\t    \"code\": 0\t  },\t  \"covid\": {\t    \"locations\": [\t      {\t        \"is_country\": false,\t        \"country_region\": \"Thailand\",\t        \"province_state\" : \"this is a state of thailand\",\t        \"latitude\": 15,\t        \"longitude\": 101,\t        \"dates\": [\t          \"1/22/2020\",\t          \"1/23/2020\",\t          \"1/30/2020\",\t          \"1/31/2020\",\t          \"2/1/2020\"\t        ],\t        \"total_deaths\": [\t          0,\t          0,\t          0,\t          1,\t          1,\t          1\t        ]\t      },\t      {\t        \"is_country\": true,\t        \"country_region\": \"Japan\",\t        \"latitude\": 36,\t        \"longitude\": 138,\t        \"dates\": [\t          \"1/22/2020\",\t          \"1/23/2020\",\t          \"1/24/2020\",\t          \"1/25/2020\",\t          \"3/12/2020\",\t          \"3/13/2020\",\t          \"3/14/2020\",\t          \"3/15/2020\"\t        ],\t        \"total_deaths\": [\t          0,\t          0,\t          0,\t          0,\t          15,\t          16,\t          19,\t          22,\t          22\t        ]\t      }\t    ]\t  },\t  \"confirmed_cases\": [\t    {\t      \"country_region\": \"Thailand\",\t      \"province_state\" : \"this is a state of thailand\",\t      \"dates\": [\t        \"1/22/2020\",\t        \"1/23/2020\",\t        \"1/24/2020\",\t        \"3/13/2020\",\t        \"3/14/2020\",\t        \"3/15/2020\"\t      ],\t      \"confirmed_cases\": [\t        2,\t        3,\t        75,\t        82,\t        114\t      ]\t    },\t    {\t      \"country_region\": \"Japan\",\t      \"dates\": [\t        \"1/22/2020\",\t        \"1/23/2020\",\t        \"1/24/2020\",\t        \"3/11/2020\",\t        \"3/12/2020\",\t        \"3/13/2020\",\t        \"3/14/2020\",\t        \"3/15/2020\"\t      ],\t      \"confirmed_cases\": [\t        2,\t        1,\t        2,\t        701,\t        773,\t        839\t      ]\t    }\t  ]\t}\t*/","tot":"jsonata"},{"t":"set","p":"covid","pt":"msg","to":"covid","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":360,"wires":[["b18a6087.9153d","80c8b480.ee4f38","5bfb028d.54a6fc"]]},{"id":"b18a6087.9153d","type":"debug","z":"da7d3608.233f08","name":"covid joined with confirmed_cases","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"covid","targetType":"msg","x":1020,"y":360,"wires":[]},{"id":"80c8b480.ee4f38","type":"change","z":"da7d3608.233f08","name":"extend locations","rules":[{"t":"set","p":"covid","pt":"flow","to":"(\t    covid ~> | locations | { \t        \"current_total_deaths\":  total_deaths[$count(total_deaths)-1],\t        \"current_total_confirmed_cases\": total_confirmed_cases[$count(total_confirmed_cases)-1],\t        \"new_deaths\" : $map(total_deaths, function($v, $i, $a) {total_deaths[$i]-($i=0 ? 0 : total_deaths[$i-1])}),\t        \"new_confirmed_cases\" : $map(total_confirmed_cases,function($v, $i, $a){total_confirmed_cases[$i]-($i=0 ? 0 : total_confirmed_cases[$i-1])})\t        }|;\t)\t/*\t  input example\t  \t  {\t  \"_msgid\": \"a070e32c.e71ed\",\t  \"topic\": \"\",\t  \"rc\": {\t    \"code\": 0\t  },\t  \"covid\": {\t    \"locations\": [\t      {\t        \"is_country\": false,\t        \"country_region\": \"Thailand\",\t        \"province_state\": \"this is a state of thailand\",\t        \"latitude\": 15,\t        \"longitude\": 101,\t        \"dates\": [\t          \"1/22/2020\",\t          \"1/23/2020\",\t          \"1/30/2020\",\t          \"1/31/2020\",\t          \"2/1/2020\"\t        ],\t        \"total_deaths\": [\t          0,\t          0,\t          0,\t          1,\t          1,\t          1\t        ],\t        \"total_confirmed_cases\": [\t          2,\t          3,\t          75,\t          82,\t          114\t        ]\t      },\t      {\t        \"is_country\": true,\t        \"country_region\": \"Japan\",\t        \"latitude\": 36,\t        \"longitude\": 138,\t        \"dates\": [\t          \"1/22/2020\",\t          \"1/23/2020\",\t          \"1/24/2020\",\t          \"1/25/2020\",\t          \"3/12/2020\",\t          \"3/13/2020\",\t          \"3/14/2020\",\t          \"3/15/2020\"\t        ],\t        \"total_deaths\": [\t          0,\t          0,\t          0,\t          0,\t          15,\t          16,\t          19,\t          22,\t          22\t        ],\t        \"total_confirmed_cases\": [\t          2,\t          1,\t          2,\t          701,\t          773,\t          839\t        ]\t      }\t    ]\t  },\t  \"confirmed_cases\": [\t    {\t      \"country_region\": \"Thailand\",\t      \"province_state\": \"this is a state of thailand\",\t      \"dates\": [\t        \"1/22/2020\",\t        \"1/23/2020\",\t        \"1/24/2020\",\t        \"3/13/2020\",\t        \"3/14/2020\",\t        \"3/15/2020\"\t      ],\t      \"confirmed_cases\": [\t        2,\t        3,\t        75,\t        82,\t        114\t      ]\t    },\t    {\t      \"country_region\": \"Japan\",\t      \"dates\": [\t        \"1/22/2020\",\t        \"1/23/2020\",\t        \"1/24/2020\",\t        \"3/11/2020\",\t        \"3/12/2020\",\t        \"3/13/2020\",\t        \"3/14/2020\",\t        \"3/15/2020\"\t      ],\t      \"confirmed_cases\": [\t        2,\t        1,\t        2,\t        701,\t        773,\t        839\t      ]\t    }\t  ]\t}\t*/","tot":"jsonata"},{"t":"set","p":"covid","pt":"msg","to":"covid","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":400,"wires":[["87b7df6e.626ff","b8e8577f.7595b8","ff93a1c1.ef15c"]]},{"id":"87b7df6e.626ff","type":"debug","z":"da7d3608.233f08","name":"locations extended","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"covid","targetType":"msg","x":970,"y":400,"wires":[]},{"id":"b8e8577f.7595b8","type":"change","z":"da7d3608.233f08","name":"extend with current_date and dates","rules":[{"t":"set","p":"covid","pt":"flow","to":"{\t  \"current_date\": covid.locations[0].dates[$count(covid.locations[0].dates)-1],\t  \"dates\": covid.locations[0].dates,\t  \"date2index\": $map(covid.locations[0].dates,function($v, $i, $a) { {$v : $i}}) ~> $merge(),\t  \"locations\": covid.locations\t}\t/*\t  example input\t  \t{\t    \"covid\": {\t        \"locations\": [\t            {\t                \"is_country\": false,\t                \"country_region\": \"Thailand\",\t                \"province_state\": \"this is a state of thailand\",\t                \"latitude\": 15,\t                \"longitude\": 101,\t                \"dates\": [\t                    \"1/22/2020\",\t                    \"1/23/2020\",\t                    \"1/30/2020\",\t                    \"1/31/2020\",\t                    \"2/1/2020\"\t                ],\t                \"total_deaths\": [\t                    0,\t                    0,\t                    0,\t                    1,\t                    1,\t                    1\t                ],\t                \"total_confirmed_cases\": [\t                    2,\t                    3,\t                    75,\t                    82,\t                    114\t                ],\t                \"current_total_deaths\": 1,\t                \"current_total_confirmed_cases\": 114,\t                \"new_deaths\": [\t                    0,\t                    0,\t                    0,\t                    1,\t                    0,\t                    0\t                ],\t                \"new_confirmed_cases\": [\t                    2,\t                    1,\t                    72,\t                    7,\t                    32\t                ]\t            },\t            {\t                \"is_country\": true,\t                \"country_region\": \"Japan\",\t                \"latitude\": 36,\t                \"longitude\": 138,\t                \"dates\": [\t                    \"1/22/2020\",\t                    \"1/23/2020\",\t                    \"1/24/2020\",\t                    \"1/25/2020\",\t                    \"3/12/2020\",\t                    \"3/13/2020\",\t                    \"3/14/2020\",\t                    \"3/15/2020\"\t                ],\t                \"total_deaths\": [\t                    0,\t                    0,\t                    0,\t                    0,\t                    15,\t                    16,\t                    19,\t                    22,\t                    22\t                ],\t                \"total_confirmed_cases\": [\t                    2,\t                    1,\t                    2,\t                    701,\t                    773,\t                    839\t                ],\t                \"current_total_deaths\": 22,\t                \"current_total_confirmed_cases\": 839,\t                \"new_deaths\": [\t                    0,\t                    0,\t                    0,\t                    0,\t                    15,\t                    1,\t                    3,\t                    3,\t                    0\t                ],\t                \"new_confirmed_cases\": [\t                    2,\t                    -1,\t                    1,\t                    699,\t                    72,\t                    66\t                ]\t            }\t        ]\t    }\t}\t*/","tot":"jsonata"},{"t":"set","p":"covid","pt":"msg","to":"covid","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"covid","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":440,"wires":[["e94deaba.69d0b8","255f1cb1.6dbb24","1859d179.49e69f","64713cf0.c619a4"]]},{"id":"94379557.3bcde8","type":"debug","z":"da7d3608.233f08","name":"province/state list","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":1020,"wires":[]},{"id":"cf8043c6.efaf","type":"file","z":"da7d3608.233f08","name":"","filename":"covid.json","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":570,"y":520,"wires":[["9afaeb76.542858","4acf9b5a.c06064"]]},{"id":"6594387c.e1f1c8","type":"file in","z":"da7d3608.233f08","name":"","filename":"covid.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":490,"y":620,"wires":[["5fb8cec5.6aff1"]]},{"id":"18829766.14f0f9","type":"inject","z":"da7d3608.233f08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":250,"y":580,"wires":[["6594387c.e1f1c8","833731e3.0a138"]]},{"id":"255f1cb1.6dbb24","type":"json","z":"da7d3608.233f08","name":"","property":"payload","action":"","pretty":false,"x":550,"y":480,"wires":[["cf8043c6.efaf"]]},{"id":"5fb8cec5.6aff1","type":"json","z":"da7d3608.233f08","name":"","property":"payload","action":"","pretty":false,"x":470,"y":660,"wires":[["7fb5a40b.24e08c"]]},{"id":"7fb5a40b.24e08c","type":"change","z":"da7d3608.233f08","name":"set flow.covid","rules":[{"t":"set","p":"covid","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"covid","pt":"msg","to":"covid","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":700,"wires":[["38be36d5.17ed1a","fdf78f3e.a8f67"]]},{"id":"9afaeb76.542858","type":"debug","z":"da7d3608.233f08","name":"stored covid.json","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":520,"wires":[]},{"id":"3c40c5b2.e3afca","type":"debug","z":"da7d3608.233f08","name":"country list","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":960,"wires":[]},{"id":"7be329bb.36c528","type":"ui_chart","z":"da7d3608.233f08","name":"","group":"a31f3c67.3e6a2","order":1,"width":11,"height":6,"label":"new confirmed cases","chartType":"line","legend":"true","xformat":"D/M","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ff2600","#0433ff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":920,"y":1460,"wires":[[]]},{"id":"f813b77f.68ddb8","type":"change","z":"da7d3608.233f08","name":"prepare new confirmed cases chart","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t $country := selected_country;\t $province_state := selected_province_state;\t $dates := covid.dates;\t $hubei_timeshift_ms := hubei_timeshift_ms;\t $hubei_factor := hubei_death_factor;\t /* graph starts from (lock_down_date - 1 week) */\t $start_x := $toMillis(lock_down_date,\"[M]/[D]/[Y]\")-(7*24*60*60*1000);\t [{ \t \"series\": [ $country & '(' & $province_state & ')','China (Hubei) - shifted and scaled'],\t \"data\" : [ \t    [$map(covid.locations[country_region= $country and (  ($province_state = \"\" and is_country = true) or (province_state = $province_state ))]\t           .new_confirmed_cases,\t      function($v, $i, $a) { { \"x\": $toMillis($dates[$i],\"[M]/[D]/[Y]\"), \"y\": $v}} )[x >= $start_x]]\t      ,\t    [$map(covid.locations[country_region= \"China\" and province_state = \"Hubei\"]\t           .new_confirmed_cases,\t      function($v, $i, $a) { { \"x\": $toMillis($dates[$i],\"[M]/[D]/[Y]\")+$hubei_timeshift_ms, \"y\": $v*$hubei_factor}} )[x >= $start_x]]\t    ],\t \"labels\": [\"\"]\t }]\t)\t/*\t[{\t\"series\": [\"A\", \"B\", \"C\"],\t\"data\": [\t    [{ \"x\": 1504029632890, \"y\": 5 },\t     { \"x\": 1504029636001, \"y\": 4 },\t     { \"x\": 1504029638656, \"y\": 2 }\t    ],\t    [{ \"x\": 1504029633514, \"y\": 6 },\t     { \"x\": 1504029636622, \"y\": 7 },\t     { \"x\": 1504029639539, \"y\": 6 }\t    ],\t    [{ \"x\": 1504029634400, \"y\": 7 },\t     { \"x\": 1504029637959, \"y\": 7 },\t     { \"x\": 1504029640317, \"y\": 7 }\t    ]\t],\t\"labels\": [\"\"]\t}]\t\texample input message\t{\t    \"hubei_death_factor\": 0.5,\t    \"hubei_timeshift_ms\" : 4233600000,\t    \"selected_country\": \"Belgium\",\t    \"selected_province_state\" : \"\", \t    \"lock_down_date\" :  \"1/24/2020\",\t    \"covid\": {\t        \"current_date\": \"2/1/2020\",\t        \"dates\": [\t            \"1/22/2020\",\t            \"1/23/2020\",\t            \"1/24/2020\",\t            \"1/30/2020\",\t            \"1/31/2020\",\t            \"2/1/2020\"\t        ],\t        \"date2index\": {\t            \"1/22/2020\": 0,\t            \"1/23/2020\": 1,\t            \"1/24/2020\": 2,\t            \"1/31/2020\": 3,\t            \"2/1/2020\": 4\t        },\t        \"locations\": [\t            {\t                \"is_country\": false,\t                \"country_region\": \"China\",\t                \"province_state\": \"Hubei\",\t                \"latitude\": 15,\t                \"longitude\": 101,\t                \"dates\": [\t                    \"1/22/2020\",\t                    \"1/23/2020\",\t                    \"1/30/2020\",\t                    \"1/31/2020\",\t                    \"2/1/2020\"\t                ],\t                \"total_deaths\": [\t                    0,\t                    0,\t                    3,\t                    1,\t                    1,\t                    1\t                ],\t                \"total_confirmed_cases\": [\t                    2,\t                    3,\t                    75,\t                    82,\t                    114\t                ],\t                \"current_total_deaths\": 1,\t                \"current_total_confirmed_cases\": 114,\t                \"new_deaths\": [\t                    0,\t                    0,\t                    0,\t                    1,\t                    0,\t                    0\t                ],\t                \"new_confirmed_cases\": [\t                    2,\t                    1,\t                    72,\t                    7,\t                    32\t                ]\t            },\t            {\t                \"is_country\": true,\t                \"country_region\": \"Belgium\",\t                \"latitude\": 36,\t                \"longitude\": 138,\t                \"dates\": [\t                    \"1/22/2020\",\t                    \"1/23/2020\",\t                    \"1/24/2020\",\t                    \"1/25/2020\",\t                    \"3/12/2020\",\t                    \"3/13/2020\",\t                    \"3/14/2020\",\t                    \"3/15/2020\"\t                ],\t                \"total_deaths\": [\t                    0,\t                    0,\t                    16,\t                    19,\t                    22,\t                    22\t                ],\t                \"total_confirmed_cases\": [\t                    2,\t                    1,\t                    2,\t                    701,\t                    773,\t                    839\t                ],\t                \"current_total_deaths\": 22,\t                \"current_total_confirmed_cases\": 839,\t                \"new_deaths\": [\t                    0,\t                    0,\t                    0,\t                    0,\t                    15,\t                    1,\t                    3,\t                    3,\t                    0\t                ],\t                \"new_confirmed_cases\": [\t                    2,\t                    -1,\t                    1,\t                    699,\t                    72,\t                    66\t                ]\t            }\t        ]\t    }\t}\t*/","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1460,"wires":[["7be329bb.36c528","dc21a8da.46e3c8"]]},{"id":"4923c596.5d115c","type":"ui_chart","z":"da7d3608.233f08","name":"","group":"a31f3c67.3e6a2","order":2,"width":11,"height":6,"label":"new deaths","chartType":"line","legend":"true","xformat":"D/M","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ff2600","#0433ff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":890,"y":1500,"wires":[[]]},{"id":"dc21a8da.46e3c8","type":"change","z":"da7d3608.233f08","name":"prepare new deaths chart","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t $country := selected_country;\t $province_state := selected_province_state;\t $dates := covid.dates;\t $hubei_timeshift_ms := hubei_timeshift_ms;\t $hubei_factor := hubei_death_factor;\t /* graph starts from (lock_down_date - 1 week) */\t $start_x := $toMillis(lock_down_date,\"[M]/[D]/[Y]\")-(7*24*60*60*1000);\t [{ \t \"series\": [ $country & '(' & $province_state & ')','China (Hubei) - shifted and scaled'],\t \"data\" : [ \t    [$map(covid.locations[country_region= $country and (  ($province_state = \"\" and is_country = true) or (province_state = $province_state ))]\t           .new_deaths,\t      function($v, $i, $a) { { \"x\": $toMillis($dates[$i],\"[M]/[D]/[Y]\"), \"y\": $v}} )[x >= $start_x]]\t      ,\t    [$map(covid.locations[country_region= \"China\" and province_state = \"Hubei\"]\t           .new_deaths,\t      function($v, $i, $a) { { \"x\": $toMillis($dates[$i],\"[M]/[D]/[Y]\")+$hubei_timeshift_ms, \"y\": $v*$hubei_factor}} )[x >= $start_x]]\t    ],\t \"labels\": [\"\"]\t }]\t)\t/*\t[{\t\"series\": [\"A\", \"B\", \"C\"],\t\"data\": [\t    [{ \"x\": 1504029632890, \"y\": 5 },\t     { \"x\": 1504029636001, \"y\": 4 },\t     { \"x\": 1504029638656, \"y\": 2 }\t    ],\t    [{ \"x\": 1504029633514, \"y\": 6 },\t     { \"x\": 1504029636622, \"y\": 7 },\t     { \"x\": 1504029639539, \"y\": 6 }\t    ],\t    [{ \"x\": 1504029634400, \"y\": 7 },\t     { \"x\": 1504029637959, \"y\": 7 },\t     { \"x\": 1504029640317, \"y\": 7 }\t    ]\t],\t\"labels\": [\"\"]\t}]\t\texample input message\t{\t    \"hubei_death_factor\": 0.5,\t    \"hubei_timeshift_ms\" : 4233600000,\t    \"selected_country\": \"Belgium\",\t    \"selected_province_state\" : \"\", \t    \"lock_down_date\" :  \"1/24/2020\",\t    \"covid\": {\t        \"current_date\": \"2/1/2020\",\t        \"dates\": [\t            \"1/22/2020\",\t            \"1/23/2020\",\t            \"1/24/2020\",\t            \"1/30/2020\",\t            \"1/31/2020\",\t            \"2/1/2020\"\t        ],\t        \"date2index\": {\t            \"1/22/2020\": 0,\t            \"1/23/2020\": 1,\t            \"1/24/2020\": 2,\t            \"1/31/2020\": 3,\t            \"2/1/2020\": 4\t        },\t        \"locations\": [\t            {\t                \"is_country\": false,\t                \"country_region\": \"China\",\t                \"province_state\": \"Hubei\",\t                \"latitude\": 15,\t                \"longitude\": 101,\t                \"dates\": [\t                    \"1/22/2020\",\t                    \"1/23/2020\",\t                    \"1/30/2020\",\t                    \"1/31/2020\",\t                    \"2/1/2020\"\t                ],\t                \"total_deaths\": [\t                    0,\t                    0,\t                    3,\t                    1,\t                    1,\t                    1\t                ],\t                \"total_confirmed_cases\": [\t                    2,\t                    3,\t                    75,\t                    82,\t                    114\t                ],\t                \"current_total_deaths\": 1,\t                \"current_total_confirmed_cases\": 114,\t                \"new_deaths\": [\t                    0,\t                    0,\t                    0,\t                    1,\t                    0,\t                    0\t                ],\t                \"new_confirmed_cases\": [\t                    2,\t                    1,\t                    72,\t                    7,\t                    32\t                ]\t            },\t            {\t                \"is_country\": true,\t                \"country_region\": \"Belgium\",\t                \"latitude\": 36,\t                \"longitude\": 138,\t                \"dates\": [\t                    \"1/22/2020\",\t                    \"1/23/2020\",\t                    \"1/24/2020\",\t                    \"1/25/2020\",\t                    \"3/12/2020\",\t                    \"3/13/2020\",\t                    \"3/14/2020\",\t                    \"3/15/2020\"\t                ],\t                \"total_deaths\": [\t                    0,\t                    0,\t                    16,\t                    19,\t                    22,\t                    22\t                ],\t                \"total_confirmed_cases\": [\t                    2,\t                    1,\t                    2,\t                    701,\t                    773,\t                    839\t                ],\t                \"current_total_deaths\": 22,\t                \"current_total_confirmed_cases\": 839,\t                \"new_deaths\": [\t                    0,\t                    0,\t                    0,\t                    0,\t                    15,\t                    1,\t                    3,\t                    3,\t                    0\t                ],\t                \"new_confirmed_cases\": [\t                    2,\t                    -1,\t                    1,\t                    699,\t                    72,\t                    66\t                ]\t            }\t        ]\t    }\t}\t*/","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":1500,"wires":[["4923c596.5d115c"]]},{"id":"c1e834aa.123e68","type":"ui_button","z":"da7d3608.233f08","name":"","group":"22d37c26.1207a4","order":1,"width":5,"height":1,"passthru":false,"label":"retrieve data from github","tooltip":"This will retrieve the historical data from the internet (github) and convert it for charting.  This will take several minutes !","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":310,"y":20,"wires":[["90a4cc34.50154","c9862823.1333b8"]]},{"id":"19002c0a.7a7d24","type":"ui_text","z":"da7d3608.233f08","group":"22d37c26.1207a4","order":3,"width":10,"height":1,"name":"data state","label":"","format":"{{msg.payload}}","layout":"row-left","x":1500,"y":260,"wires":[]},{"id":"c9862823.1333b8","type":"change","z":"da7d3608.233f08","name":"1.","rules":[{"t":"set","p":"payload","pt":"msg","to":"1. retrieving covid death data...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":20,"wires":[["19002c0a.7a7d24"]]},{"id":"13b09d87.5a3312","type":"change","z":"da7d3608.233f08","name":"2....","rules":[{"t":"set","p":"payload","pt":"msg","to":"2. converting csv to array ...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":100,"wires":[["19002c0a.7a7d24"]]},{"id":"afa688eb.70fa18","type":"change","z":"da7d3608.233f08","name":"3...","rules":[{"t":"set","p":"payload","pt":"msg","to":"3. creating covid object ....","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":140,"wires":[["19002c0a.7a7d24"]]},{"id":"e27e28bc.ee49b8","type":"change","z":"da7d3608.233f08","name":"4. ...","rules":[{"t":"set","p":"payload","pt":"msg","to":"4. retrieving covid confirmed cases ...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":180,"wires":[["19002c0a.7a7d24"]]},{"id":"32b650ff.aaf6a","type":"change","z":"da7d3608.233f08","name":"5....","rules":[{"t":"set","p":"payload","pt":"msg","to":"5. converting csv to array ... this will take several minutes and you will loose Connection ... please be very patient you will be reconnected once the data is processed !!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":240,"wires":[["19002c0a.7a7d24"]]},{"id":"593ca514.902dcc","type":"change","z":"da7d3608.233f08","name":"6...","rules":[{"t":"set","p":"payload","pt":"msg","to":"6. proc. confirmed cases ....","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":280,"wires":[["19002c0a.7a7d24"]]},{"id":"449ff85e.e5d0c8","type":"change","z":"da7d3608.233f08","name":"7...","rules":[{"t":"set","p":"payload","pt":"msg","to":"7. joining with conf. cases","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":320,"wires":[["19002c0a.7a7d24"]]},{"id":"5bfb028d.54a6fc","type":"change","z":"da7d3608.233f08","name":"8...","rules":[{"t":"set","p":"payload","pt":"msg","to":"8. extending locations ...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":360,"wires":[["19002c0a.7a7d24"]]},{"id":"ff93a1c1.ef15c","type":"change","z":"da7d3608.233f08","name":"9...","rules":[{"t":"set","p":"payload","pt":"msg","to":"9. extending with dates...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":400,"wires":[["19002c0a.7a7d24"]]},{"id":"1859d179.49e69f","type":"change","z":"da7d3608.233f08","name":"10...","rules":[{"t":"set","p":"payload","pt":"msg","to":"10. storing in file..","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":440,"wires":[["19002c0a.7a7d24"]]},{"id":"4acf9b5a.c06064","type":"change","z":"da7d3608.233f08","name":"11..","rules":[{"t":"set","p":"payload","pt":"msg","to":"11. data successfully retrieved and stored in file","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":500,"wires":[["19002c0a.7a7d24"]]},{"id":"38be36d5.17ed1a","type":"change","z":"da7d3608.233f08","name":"successfully read from file","rules":[{"t":"set","p":"payload","pt":"msg","to":"last data retrieved from github successfully read from local file","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":700,"wires":[["19002c0a.7a7d24"]]},{"id":"833731e3.0a138","type":"change","z":"da7d3608.233f08","name":"reading from file....","rules":[{"t":"set","p":"payload","pt":"msg","to":"reading from file....","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":580,"wires":[["19002c0a.7a7d24"]]},{"id":"e193f8b4.53b0c8","type":"link in","z":"da7d3608.233f08","name":"updating dashboard for new covid","links":["fdf78f3e.a8f67","64713cf0.c619a4"],"x":255,"y":1040,"wires":[["3d46854a.1b12da","fac7b993.b120a8","9b8e2708.73e998"]]},{"id":"fdf78f3e.a8f67","type":"link out","z":"da7d3608.233f08","name":"covid read from file","links":["e193f8b4.53b0c8"],"x":475,"y":760,"wires":[]},{"id":"64713cf0.c619a4","type":"link out","z":"da7d3608.233f08","name":"covid data retrieved from github","links":["e193f8b4.53b0c8"],"x":835,"y":480,"wires":[]},{"id":"7bf8afc5.80a8f","type":"ui_text","z":"da7d3608.233f08","group":"22d37c26.1207a4","order":4,"width":6,"height":1,"name":"","label":"current date","format":"{{msg.payload}}","layout":"row-spread","x":950,"y":840,"wires":[]},{"id":"9b8e2708.73e998","type":"change","z":"da7d3608.233f08","name":"msg.options = country list (default = Belgium)","rules":[{"t":"set","p":"payload","pt":"msg","to":"covid.current_date\t/*\t{\t    \"covid\": {\t        \"dates\": [\t            \"1/22/2020\",\t            \"1/23/2020\",\t            \"1/30/2020\",\t            \"1/31/2020\",\t            \"2/1/2020\"\t        ],\t        \"current_date\": \"2/1/2020\",\t        \"locations\": [\t            {\t                \"is_country\": false,\t                \"country_region\": \"Thailand\",\t                \"province_state\": \"this is a state of thailand\",\t                \"latitude\": 15,\t                \"longitude\": 101,\t                \"dates\": [\t                    \"1/22/2020\",\t                    \"1/23/2020\",\t                    \"1/30/2020\",\t                    \"1/31/2020\",\t                    \"2/1/2020\"\t                ],\t                \"total_deaths\": [\t                    0,\t                    0,\t                    0,\t                    1,\t                    1,\t                    1\t                ],\t                \"total_confirmed_cases\": [\t                    2,\t                    3,\t                    75,\t                    82,\t                    114\t                ],\t                \"current_total_deaths\": 1,\t                \"current_total_confirmed_cases\": 114,\t                \"new_deaths\": [\t                    0,\t                    0,\t                    0,\t                    1,\t                    0,\t                    0\t                ],\t                \"new_confirmed_cases\": [\t                    2,\t                    1,\t                    72,\t                    7,\t                    32\t                ]\t            },\t            {\t                \"is_country\": true,\t                \"country_region\": \"Japan\",\t                \"latitude\": 36,\t                \"longitude\": 138,\t                \"dates\": [\t                    \"1/22/2020\",\t                    \"1/23/2020\",\t                    \"1/24/2020\",\t                    \"1/25/2020\",\t                    \"3/12/2020\",\t                    \"3/13/2020\",\t                    \"3/14/2020\",\t                    \"3/15/2020\"\t                ],\t                \"total_deaths\": [\t                    0,\t                    0,\t                    0,\t                    0,\t                    15,\t                    16,\t                    19,\t                    22,\t                    22\t                ],\t                \"total_confirmed_cases\": [\t                    2,\t                    1,\t                    2,\t                    701,\t                    773,\t                    839\t                ],\t                \"current_total_deaths\": 22,\t                \"current_total_confirmed_cases\": 839,\t                \"new_deaths\": [\t                    0,\t                    0,\t                    0,\t                    0,\t                    15,\t                    1,\t                    3,\t                    3,\t                    0\t                ],\t                \"new_confirmed_cases\": [\t                    2,\t                    -1,\t                    1,\t                    699,\t                    72,\t                    66\t                ]\t            }\t        ]\t    }\t}\t*/","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":840,"wires":[["7bf8afc5.80a8f"]]},{"id":"4ebbe35e.4b7b2c","type":"ui_text","z":"da7d3608.233f08","group":"935635d4.d4b018","order":5,"width":6,"height":1,"name":"","label":"hubei factor","format":"{{msg.hubei_death_factor | number:3}}","layout":"row-spread","x":1030,"y":1280,"wires":[]},{"id":"260f05e7.4f476a","type":"ui_text","z":"da7d3608.233f08","group":"935635d4.d4b018","order":4,"width":6,"height":1,"name":"","label":"hubei date shift","format":"{{msg.payload}} days","layout":"row-spread","x":1050,"y":1320,"wires":[]},{"id":"195c38e4.b877d7","type":"change","z":"da7d3608.233f08","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"hubei_timeshift_ms/(1000*60*60*24)\t/*\t  example input\t  \t{\t    \"hubei_timeshift_ms\": 4233600000\t}\t*/","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":1320,"wires":[["260f05e7.4f476a"]]},{"id":"30a28e20.b2b6d2","type":"catch","z":"da7d3608.233f08","name":"error reading covid file","scope":["6594387c.e1f1c8"],"uncaught":false,"x":740,"y":620,"wires":[["79eaf6a0.aebe58"]]},{"id":"79eaf6a0.aebe58","type":"change","z":"da7d3608.233f08","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"error.message & \". If this is the first time you have started this flow then click on button 'retrieve data from github'\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":620,"wires":[["19002c0a.7a7d24"]]}]